LIVEKIT_URL=XXXXXX
LIVEKIT_API_KEY=XXXXXX
LIVEKIT_API_SECRET=XXXXXX

# Optional for local development, not used at all in prod (user provides their own)
# Required if you want to use `console` mode, or if you don't want to type in an API key in `dev` or `start` mode
GROQ_API_KEY=XXXXXX

# If hosting on GCP
GCP_PROJECT_ID=XXXXXX